---
metatype: css
---

:root {
  --dimmed-text-color: #d3d3d3;
  --dimmed-border-color: #282828;
  --background-color: #282828;
  --body-text-color: #d3d3d3;
  --post-title-color: var(--body-text-color);
  --post-date-color: var(--body-text-color);
  --post-text-color: var(--body-text-color);
  --page-menu-link-color: var(--link-color);
  --header-author-name: #086dd6;
  --header-listed-name: #086dd6;
  --more-from-border-color: var(--dimmed-border-color);
  --bio-color: var(--body-text-color);
  --wordcount-color: #086dd6;
  --website-color: var(--link-color);
  --twitter-color: var(--link-color);
  --link-color: #086dd6;
  --header-border-color: #086dd6;
}

.radio-button__image-container img {
  filter: invert(1);
}

.dropdown__option .option__button {
  color: var(--dimmed-text-color) !important;
}

.dropdown__list.card.dropdown__list--open {
  box-shadow: 8px 8px 0 #086dd6;
  background-color: #282828 !important;
}

.dropdown__option:hover {
  background-color: rgba(8, 109, 214, 0.15);
}

#resources .resources__list li a,
.payment-details .payment-details__credential,
.text-field,
.my-posts__item a.my-posts__post .post__details,
.my-posts__item a.my-posts__post,
.left-nav-bar .button:not(.button--active) {
  color: var(--dimmed-text-color);
}

.dropdown__option .option__icon path,
.section__collapse-icon path,
.button.scroll-to-top__button
  .scroll-to-top__container
  .scroll-to-top__icon
  path,
.credential__icon path,
.custom-domain__linked-icon path,
.hover-content .hover-content__icon path,
.my-posts__item a.my-posts__post .post__details .post-details__icon path,
.left-nav-bar .button:not(.button--active) svg path {
  fill: var(--dimmed-text-color);
}

.radio-button__icon-container svg path,
.checkbox__icon-container svg path,
.left-nav-bar .button--active .left-nav-bar__icon path,
.button svg path {
  fill: #086dd6;
}

.button--active::before {
  background-color: rgba(8, 109, 214, 0.08);
}

.button--active {
  color: #086dd6;
}

.button--disabled {
  background-color: #3a3a3a;
  color: #5e5e5e;
  cursor: not-allowed;
}

.text-field {
  border: 1px solid #1f1f1f;
}

#custom-domain .callout--success,
#payment-details .callout--success {
  background-color: #282828 !important;
}

#custom-domain .callout--success .hover-content__icon-container,
#payment-details .callout--success .hover-content__icon-container {
  background-color: #1f1f1f !important;
}

#author-posts .author-post,
.text-field,
.hover-content .hover-content__icon-container,
#author-profile,
.single-post-show,
.page-header__container--post {
  background-color: #282828;
}

.button.scroll-to-top__button,
.button.scroll-to-top__button .scroll-to-top__container,
#single-post-footer,
.footer--blog-page,
.callout,
.card {
  background-color: #1f1f1f;
}

/* MD Tables */

table tr:nth-child(2n) {
  background: #252525 !important;
}

.post-content .post-body table td,
.post-content .post-body table th {
  border: 1px solid #1f1f1f;
}

/* MD Code Syntax Highlighting */

.highlight {
  background-color: transparent;
}

code {
  background-color: #1f1f1f !important;
  border: 1px solid #1f1f1f !important;
  border-radius: 8px;
}

pre code {
  color: #d3d3d3;
}

p code {
  color: #d3d3d3 !important;
}

/* 
Monokai Theme for Syntax
source: https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css 
*/
.highlight pre {
  background-color: #1f1f1f;
  border-radius: 8px;
}
.highlight .hll {
  background-color: #1f1f1f;
}
.highlight .c {
  color: #75715e;
} /* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.highlight .k {
  color: #66d9ef;
} /* Keyword */
.highlight .l {
  color: #ae81ff;
} /* Literal */
.highlight .n {
  color: #f8f8f2;
} /* Name */
.highlight .o {
  color: #f92672;
} /* Operator */
.highlight .p {
  color: #f8f8f2;
} /* Punctuation */
.highlight .cm {
  color: #75715e;
} /* Comment.Multiline */
.highlight .cp {
  color: #75715e;
} /* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
} /* Comment.Single */
.highlight .cs {
  color: #75715e;
} /* Comment.Special */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
} /* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
} /* Keyword.Type */
.highlight .ld {
  color: #e6db74;
} /* Literal.Date */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #a6e22e;
} /* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
} /* Name.Class */
.highlight .no {
  color: #66d9ef;
} /* Name.Constant */
.highlight .nd {
  color: #a6e22e;
} /* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
} /* Name.Entity */
.highlight .ne {
  color: #a6e22e;
} /* Name.Exception */
.highlight .nf {
  color: #a6e22e;
} /* Name.Function */
.highlight .nl {
  color: #f8f8f2;
} /* Name.Label */
.highlight .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
} /* Name.Other */
.highlight .py {
  color: #f8f8f2;
} /* Name.Property */
.highlight .nt {
  color: #f92672;
} /* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
} /* Name.Variable */
.highlight .ow {
  color: #f92672;
} /* Operator.Word */
.highlight .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
} /* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */
.highlight .gu {
  color: #75715e;
} /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672;
} /* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e;
} /* Generic.Inserted & Diff Inserted */
